body {
	margin: 0px;
	width: 1440px;
}

.gnb {
	height: 54px;
	  font-family: SFProDisplay;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.gnb .logo {
	margin-left: 100px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.gnb .beta {
	display: inline-block;
	vertical-align: middle;
  color: #f38385;
}

.gnb .products {
	display: inline-block;
	vertical-align: middle;

  color: #383535;
}

.gnb .contactus { 
	display: inline-block;
	vertical-align: middle;

  color: #383535;
}

.tab {
	height: 54px;
	font-family: SFProDisplay;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;

}

.tab .data {
	display: inline-block;
	background-color: #f38385;
	text-align: center;
	color: #ffffff;
	line-height: 54px;
	width: 177px;
}

.tab .forecast {
	display: inline-block;
	width: 177px;
	line-height: 54px;
	text-align: center;
	color: #a4a4a4;
}


.button {
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	width: 154px;
	height: 39px;
	border: solid 2px #ffffff;
	font-family: SFProDisplay;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.white {
	border: solid 2px #ffffff;
	color: #ffffff;
}

.black {
	border: solid 2px #887e7e;
	color: #887e7e;
}

.title {
	width: 100%;
	height: 160px;
	background-color: #f38385;
}

.title .company {
	position: absolute;
	margin-top: 101px;
	margin-left: 412px;
	font-family: SFProDisplay;
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.title .country {
	position: absolute;
	margin-top: 101px;
	left: 957px;
}

.title .date {
	position: absolute;
	margin-top: 101px;
	left: 1137px;
}

.title .logo {
		position: absolute;
	margin-top: 59px;
	margin-left: 154px;
}

.desc {
	height:	247px;
	margin: 0px;
	background-color: #777777;
	 overflow: auto; 
}

.desc .function {
	margin-top: 21px;
	margin-left: 406px;
}

.desc .function ul {
	margin: 0px;
	padding: 0px;
}

.desc .function ul li {
	display: inline-block;
	margin-left: 12px;
}

.desc .company_desc {
  margin-left: 416px;
  margin-top: 11px;
  font-family: SFProDisplay;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}

.row {
	height:	536px;
	margin: 0px;
	 overflow: auto; 
}

.trend .btn {
	margin-top: 0;
	margin-left: 53px;
}

.trend .trend1 {

}

.trend .trend2 {

}

